# Copy this file to .env and edit the values

# Create a secret key using Django's management command:
# django-admin shell
# >>> from django.core.management.utils import get_random_secret_key
# >>> get_random_secret_key()
SECRET_KEY=your-secret-key

# Set DEBUG to True for development, False for production
DEBUG=True

# ALLOWED_HOSTS is a comma-separated list of hosts/domain names that can access your application.
# You can use wildcard chars (*) and IP addresses. Use * for any host.

ALLOWED_HOSTS = ['localhost', '127.0.0.1', '[::1]', 'testserver']

# Set your timezone
TIME_ZONE=Asia/Bangkok
