{% extends 'polls/base.html' %}

{% block title %}{{ question.question_text }}{% endblock %}

{% block content %}
<div class="poll-box">
    <h1 class="question-title">{{ question.question_text }}</h1>
    
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <form action="{% url 'polls:vote' question.id %}" method="post" class="poll-form">
        {% csrf_token %}
        <fieldset>
{#            {% for choice in question.choice_set.all %}#}
{#                <div class="choice-container">#}
{#                    <input type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}"#}
{#                           class="choice-radio"#}
{#                           {% if previous_vote and previous_vote.choice.id == choice.id %}checked{% endif %}>#}
{#                    <label for="choice{{ choice.id }}">{{ choice.choice_text }}</label>#}
{#                </div>#}
{#            {% endfor %}#}
            {% for choice in question.choice_set.all %}
                <div class="choice-container">
                    <input type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}"
                           class="choice-radio"
                           {% if previous_choice and previous_choice.id == choice.id %}checked{% endif %}>
                    <label for="choice{{ choice.id }}">{{ choice.choice_text }}</label>
                </div>
            {% endfor %}            
        </fieldset>
        <div class="button-container">
            <input type="submit" value="Submit" class="button">
            <a href="{% url 'polls:results' question.id %}" class="button">View Results</a>
            <a href="{% url 'polls:index' %}" class="button">Back to List of Polls</a>
        </div>
    </form>
</div>
{% endblock %}
