{% extends 'polls/base.html' %}

{% block title %}{{ question.question_text }}{% endblock %}

{% block content %}
<div class="poll-box">
    <h1>{{ question.question_text }}</h1>
    
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            {% if error_message %}
                <p class="error-message"><strong>{{ error_message }}</strong></p>
            {% endif %}
            {% for choice in question.choice_set.all %}
                <div class="choice-container">
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                </div>
            {% endfor %}
        </fieldset>
        <div class="button-container">
            <input type="submit" value="Submit" class="button">
            <a href="{% url 'polls:results' question.id %}" class="button">View Results</a>
            <a href="{% url 'polls:index' %}" class="button">Back to List of Polls</a>
        </div>
    </form>
</div>
{% endblock %}