li a {
    color: #007BFF;
}

body {
    background: white url("../image/background.jpg") no-repeat;
    background-size: cover;
}

.results-table {
    width: 60%; /* Maintain the smaller table width */
    margin: 20px 0; /* Remove the auto part to align the table to the left */
    border-collapse: collapse;
    background-color: #f9f9f9; /* Light background color for the table */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Ensure rounded corners apply to the entire table */
}

.results-table th, .results-table td {
    border: 1px solid #ddd;
    padding: 12px; /* Increase padding for better spacing */
    text-align: left;
}

.results-table th {
    background-color: #007BFF; /* Blue background for table header */
    color: white; /* White text for the header */
}

.results-table td {
    background-color: #ffffff; /* White background for table cells */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: #007BFF; /* Blue background color */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
