li a {
    color: green;
}

body {
    background: white url("../image/background.jpg") no-repeat;
    background-size: cover;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.results-table th, .results-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.results-table th {
    background-color: #f2f2f2;
}