{% extends 'polls/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="poll-box">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-container">
            <button type="submit" class="button">Login</button>
        </div>
        <input type="hidden" name="next" value="{{next}}"/>
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}" class="link">Sign up here</a></p>
</div>
{% endblock %}

