{% extends 'polls/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="poll-box">
    <h2>Register</h2>
    <form method="POST">
        {% csrf_token %}
        <table class="form-table">
            {{ form.as_table }}
            <tr>
                <td colspan="2">
                    <div class="button-container">
                        <button type="submit" class="button">Register</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}